<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My favorite song </title>
</head>
<body>
    <h1>When all thy mercies, O my God</h1>
    <h3>Joseph Addison (1672-1719)</h3>
    <hr>
    <pre border-line>
        1 When all thy mercies, O my God,
        my rising soul surveys,
        transported with the view, I'm lost
        in wonder, love, and praise.
        
        2 Unnumbered comforts to my soul
        thy tender care bestowed,
        before my infant heart conceived
        from whom those comforts flowed.
        
        3 When in the slippery paths of youth
        with heedless steps I ran,
        thine arm unseen conveyed me safe,
        and led me up to man.
        
        4 Ten thousand thousand precious gifts
        my daily thanks employ,
        and not the least a cheerful heart
        which tastes those gifts with joy.
        
        5 Through every period of my life
        thy goodness I'll pursue,
        and after death in distant worlds
        the glorious theme renew.
        
        6 Through all eternity to thee,
        a joyful song I'll raise;
        for O, eternity's too short
        to utter all thy praise.
    </pre>
    <a href="https://hymnary.org/hymn/AM2013/820">click me</a>
</body>
</html>